<link rel="stylesheet" href="../../node_modules/semantic/dist/semantic.min.css"/>
<link rel="stylesheet" href="../../dist/css/bundle.css"/>

<meta name="viewport" content="width=device-width, initial-scale=1">

<title>balance sheet</title>


<div class="ui one column text top-indented grid container">

    <!-- title -->

    <div class="middle aligned center aligned row">
        <div class="four wide column">
            <button class="ui icon large button">
                <i class="angle left icon"></i>
            </button>
        </div>

        <div class="eight wide centered column">
            <h1>Balance sheet</h1>
        </div>
        <div class="four wide column"></div>
    </div>

    <!-- /title -->

</div>

<!-- transaction -->
<div class="ui grid transaction container">

    <div class="row">
        <div class="six wide right aligned column">Ash</div>
        <div class="four wide center aligned column"><i class="arrow right icon"></i></div>
        <div class="six wide left aligned column">Joe</div>
    </div>
    <div class="center aligned row">
        <div class="centered column transaction__total">
            400
        </div>
    </div>
</div>
<!-- /transaction -->


<!-- transaction -->
<div class="ui grid transaction container">

    <div class="row">
        <div class="six wide right aligned column">John</div>
        <div class="four wide center aligned column"><i class="arrow right icon"></i></div>
        <div class="six wide left aligned column">Alice</div>
    </div>
    <div class="center aligned row">
        <div class="centered column transaction__total">
            85
        </div>
    </div>
</div>
<!-- /transaction -->



<script src="../../node_modules/livereload-js/dist/livereload.js?host=localhost"></script>