<link rel="stylesheet" href="../../node_modules/semantic/dist/semantic.min.css"/>
<link rel="stylesheet" href="../../dist/css/bundle.css"/>

<title>event-name</title>

<div class="ui center aligned one column grid relaxed vertical-centered">

    <div class="column">
        Please,
    </div>

    <div class="ui input column">
        <input type="text" placeholder="type the event name"/>
    </div>

    <div class="column">
        or
    </div>

    <div class="column">
        <button class="ui big button">skip</button>
    </div>

    <div class="column">
        and let it generate randomly
    </div>

</div>

<script src="../../node_modules/livereload-js/dist/livereload.js?host=localhost"></script>