<link rel="stylesheet" href="../../node_modules/semantic/dist/semantic.min.css"/>
<link rel="stylesheet" href="../../dist/css/bundle.css"/>

<title>event-menu</title>

<div class="ui center aligned one column text container vertical-centered grid">


    <div class="row">
        <div class="column">
            <h1>Event name</h1>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <button class="ui fluid large button">Persons</button>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <button class="ui fluid large button">Products</button>
        </div>
    </div>

    <div class="row">
        <div class="column">
            <button class="ui fluid large button">Balance sheet</button>
        </div>
    </div>


</div>

<script src="../../node_modules/livereload-js/dist/livereload.js?host=localhost"></script>