<link rel="stylesheet" href="../../node_modules/semantic/dist/semantic.min.css"/>
<link rel="stylesheet" href="../../dist/css/bundle.css"/>

<meta name="viewport" content="width=device-width, initial-scale=1">

<title>person list</title>

<div class="ui one column text container top-indented grid">

    <div class="middle aligned row">
        <div class="four wide column">
            <button class="ui icon large button">
                <i class="angle left icon"></i>
            </button>
        </div>

        <div class="eight wide center aligned column">
            <h1>Persons</h1>
        </div>

        <div class="four wide column"></div>
    </div>

    <div class="ui vertically divided grid">

        <!-- list item -->
        <div class="row">
            <div class="ten wide column">
                Ash
            </div>
            <div class="four wide column">
                25%
            </div>
            <div class="one wide column">
                <i class="write icon"></i>
            </div>
        </div>

        <!-- list item -->
        <div class="row">
            <div class="ten wide column">
                Ash
            </div>
            <div class="four wide column">
                25%
            </div>
            <div class="one wide column">
                <i class="write icon"></i>
            </div>
        </div>

        <!-- input item -->
        <div class="middle aligned row without padding input-item--highlighted">

            <div class="column">

                <div class="ui form without margin-on-last-field">

                    <div class="field">

                        <div class="two fields">

                            <div class="field">

                                <div class="ui fluid left action input">
                                    <button class="ui icon circular large right floated red button">
                                        <i class="remove icon"></i>
                                    </button>
                                    <input type="text" placeholder="name"/>
                                </div>

                            </div>

                            <div class="field">

                                <div class="ui fluid action input">
                                    <input type="text" placeholder="share (%)"/>
                                    <button class="ui icon circular large left floated green button">
                                        <i class="checkmark icon"></i>
                                    </button>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
        <!-- /input item -->

        <!-- add item -->
        <div class="row">
            <div class="column">
                <button class="ui large right floated right labeled icon button">
                    <i class="plus icon"></i>
                    Add person
                </button>
            </div>
        </div>

    </div>
</div>


<script src="../../node_modules/livereload-js/dist/livereload.js?host=localhost"></script>