.Product {
    padding: 5px 5px 5px 30px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    border-bottom: rgba(206, 206, 206, 0.63) 2px solid;

}

.Product:first-child {
    border-top: rgba(206, 206, 206, 0.63) 2px solid;
}

.Product:nth-child(even) {
    background-color: rgba(41, 78, 107, 0.02);
    border-radius: 2px;
}

.Product__inputs-and-participating {
    display: flex;
    flex-grow: 1;
    flex-wrap: nowrap;
    align-items: center;
}

.Product__inputs {
    flex-grow: 1;

    order: 1;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;

    padding-right: 5px;

    min-width: 65%;
}


.Product__participating {
    flex-shrink: 99;
    order: 2;
}


@media (max-width: 500px) {

    .Product__inputs-and-participating {
        flex-wrap: wrap;
    }

}


.Product__name-input {
    flex-grow: 99;
}
.Product__price-input {
    flex-grow: 1;
}

.Product__remove-button {
    flex-basis: 40px;
    align-items: center;
}