.Product {
    padding-left: 30px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.Product:nth-child(even) {
    background-color: rgba(27,0,255,0.02)
}

.Product__inputs {
    flex-grow: 99;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}


.Product__children {
    flex-grow: 1;
}


.Product__name-and-price {
    flex-grow: 99;

    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.Product__name-input {
    flex-grow: 99;
}
.Product__price-input {
    flex-grow: 1;
}

.Product__remove-button {
    flex-basis: 40px;
    align-items: center;
}


/*@media (max-width: 500px) {*/
    .Product {
        margin-bottom: 20px;
    }
/*}*/